
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    width: 80%;
    /* height: 10vh; */
    margin:auto;
    align-items: center;

}
.logo-container {
    flex: 1;
}
.logo {
    font-weight: 500;
    margin: 5px;
}

nav {
    flex:2;
}

.logo-container,.nav-links,.contact-link-container {
    display: flex;
}

.contact-link-container{
    flex: 1;
    justify-content: flex-end ;
}
.nav-links-contacts {
    list-style: none;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    

}

.prsentational {
    display: flex;
    background-image: linear-gradient(to right bottom, rgba(48, 56, 65, 0.5), rgba(58, 71, 80, 0.5)), url('./img/carHD.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: center;
    color: white;
    
}
.introdution {
    display: flex;
    
}

.intro-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-bottom: 200px;
    
}
.intro-text h1 {
    font-size: 44px;
    align-self: center;
    margin: 25px 25px 75px 25px;
}
.intro-text p{
    font-size: 22px;
    font-weight: 300;
   
}